---
import DocsLayout from "../../layouts/DocsLayout.astro";
---
<DocsLayout title="Derifted Documentation">
    <main>
        <h1>Developer Options</h1>
        <hr />
        <h2>Custom Versions</h2>
        <p>
            Enabling this adds a new version into the selector which allows you to input any version and create that instance, this is 
            useful for the development of a new version, however be warned! These debug versions do NOT come with any mods including 
            Vivecraft, so these versions are not functional by their nature unless tinkered with in the files directly.
        </p>
        <hr />
        <h2>Custom NetFetch</h2>
        <p>
            Changes where Derifted will get external resources such as supported versions, default mods and default configs. This can 
            be used for testing experimental branches or versions of NetFetch.
        </p>
        <hr />
    </main>
</DocsLayout>
<style>
    li {
        margin-bottom: 2rem;
    }
    a {
        background-color: #23262d;
        border-radius: 15px;
        padding: 10px;
        transition: background-color .2s ease;
    }
    a:hover {
        background-color: #474b55;
    }
</style>