---
import DocsLayout from "../../layouts/DocsLayout.astro";
---
<DocsLayout title="Derifted Documentation">
    <main>
        <h1>Frequently Asked Questions</h1>
        <hr />
        <h2>Do I need to own a Minecraft Java Edition account to play Derifted? If so can I play offline instead?</h2>
        <p>
            To play Derifted you must own a copy of Minecraft Java Edition, once you have logged in once to prove you own the game, 
            you can then play offline. We do not support piracy.
        </p>
        <hr />
        <h2>Lorem Ipsum</h2>
        <p>
            Lorem Ipsum indeed.
        </p>
        <hr />
    </main>
</DocsLayout>
<style>
    li {
        margin-bottom: 2rem;
    }
    a {
        background-color: #23262d;
        border-radius: 15px;
        padding: 10px;
        transition: background-color .2s ease;
    }
    a:hover {
        background-color: #474b55;
    }
</style>
