---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Derifted was Made Using...">
    <main>
        <h1>Derifted was Made Using...</h1>
        <h2>Launcher</h2>
        <p><strong><a href="https://github.com/QuestCraftPlusPlus/Pojlib/">Pojlib</a></strong> - <a href="https://questcraft.org/">QuestCraft</a></p>
        <p><strong><a href="https://gitlab.com/znixian/OpenOVR">OpenComposite</a></strong> - ZNix</p>
        <p><strong><a href="https://pojavlauncherteam.github.io/">PojavLauncher</a></strong> - The PojavLauncher Team</p>
        <p><strong><a href="https://github.com/PimDeWitte/UnityMainThreadDispatcher/">UnityMainThreadDispatcher</a></strong> - <a href="https://github.com/PimDeWitte/">PimDeWitte</a></p>
        <h2>Website</h2>
        <p><strong><a href="https://astro.build/">Astro</a></strong> - The Astro Team</p>
    </main>
</Layout>