---
import Notice from '../layouts/Notice.astro';
---
<Notice title='Public Beta' date='1st of September 2024'>
	<p>
		Currently, Derifted Launcher is in a <strong>public beta</strong> phase,
		this means things can and <strong>will</strong> go wrong. Please report
		any and all bugs to our <a href="/discord">Discord</a>.
	</p>
</Notice>
<style>
	a {
        font-weight: bold;
    }
</style>