---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/Footer.astro';
import TitleBar from '../components/TitleBar.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/coly.png" />
		<meta name="generator" content={Astro.generator} />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		</style>
		<title>{title}</title>

		<meta content="Derifted" property="og:title" />
		<meta content="Derifted Launcher is a Minecraft launcher for standalone VR headsets with ease of use and performance in mind..." property="og:description" />
		<meta content={Astro.url} property="og:url" />
		<meta content="#32b4db" data-react-helmet="true" name="theme-color" />
	</head>
	<body>
		<TitleBar />
		<hr />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 138, 114, 131;
		--accent-light: 197, 197, 197;

		--warning: 153, 14, 53;
		--warning-highlight: 255, 143, 162;

		--information: 77, 145, 209;
		--information-highlight: 171, 210, 247;

		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent-light)),
			transparent 30%
		);

		min-height: 100%;
	}
	html {
		font-family: "Poppins", sans-serif;
		background-color: rgba(4,4,22,1);
		background-size: 100%;
		min-height: 100%;
	}
	body {
		position: absolute;
		min-height: 94%;
		width: calc(100vw - 8px);
		padding: 0;
		margin: 0;
	}
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
		width: 94%;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	a {
		color: rgba(127, 236, 255, 1);
		text-decoration: none;

		transition: color .2s ease;
	}
	a:hover {
		color: rgba(127, 236, 255, 0.75);
	}
	::selection ::-moz-selection {
		color: white;
		background-color: aqua;
	}

	hr {
		width: calc(100vw - 2px);
	}

	@media (max-width: 800px) {
		body {
			padding-bottom: 35px;
		}
	}
</style>
